services:
  server:
    # image: gitbundle/server:v3.0.0-beta
    image: ghcr.io/gitbundle/server:v3.0.0-beta
    ports:
    - 8080:8080
    - 8022:8022
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - ./data:/data
    environment:
    - GITBUNDLE_APP_NAME=${GITBUNDLE_APP_NAME:-GitBundle}
    - GITBUNDLE_TRACE=${GITBUNDLE_TRACE:-false}
    - GITBUNDLE_NESTED_GROUPS_ENABLED=${GITBUNDLE_NESTED_GROUPS_ENABLED:-false}
    - GITBUNDLE_USER_ADMIN_EMAIL=${GITBUNDLE_USER_ADMIN_EMAIL:-root@example.com}
    - GITBUNDLE_USER_ADMIN_PASSWORD=${GITBUNDLE_USER_ADMIN_PASSWORD:-root}
    - GITBUNDLE_GIT_ROOT=${GITBUNDLE_GIT_ROOT:-/data}
    - GITBUNDLE_BLOB_STORE_BUCKET=${GITBUNDLE_BLOB_STORE_BUCKET:-/data/blob}
    - GITBUNDLE_DATABASE_NAME=${GITBUNDLE_DATABASE_NAME:-gitbundle}
    - GITBUNDLE_DATABASE_URL=${GITBUNDLE_DATABASE_URL:-postgres://postgres:postgres@db:5432}
    - GITBUNDLE_ENCRYPTER_SECRET=${GITBUNDLE_ENCRYPTER_SECRET}
    - GITBUNDLE_HTTP_PORT=${GITBUNDLE_HTTP_PORT:-8080}
    - GITBUNDLE_SSH_PORT=${GITBUNDLE_SSH_PORT:-8022}
    restart: always
    networks:
    - gitbundle
  db:
    image: postgres:14-alpine
    ports:
    - 5432:5432
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /etc/hosts:/etc/hosts:ro
    - ./db:/var/lib/postgresql/data:rw
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=gitbundle
    healthcheck:
      test:
      - CMD-SHELL
      - pg_isready -U postgres
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
    - gitbundle
networks:
  gitbundle:
    driver: bridge
